<?xml version="1.0" encoding="UTF-8"?>
<launch>


	<arg name="number" default="master" />

	<!-- VELOCITY_CONTROL -->
	<node name="ackermann_velocity_control_$(arg number)" pkg="ackermann_robust_control" type="vel_control.py" output="screen" args="$(arg number)" />
	<rosparam command="load" file="$(find ackermann_robust_control)/config/config.yaml" />



	<!-- ORIENTATION_CONTROL -->
	<node name="ackermann_orientation_control_$(arg number)" pkg="ackermann_robust_control" type="orientation_control.py" output="screen" args="$(arg number)" />
	
	<!--node name="ackermann_orientation_control" pkg="ackermann_robust_control" type="orientation_control.py" output="screen" /-->

	<!-- Save Results -->
	<node name="save_data" pkg="ackermann_robust_control" type="save_data.py" output="screen"/>

</launch>
